<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

        <title id="title"></title>
        <link rel="stylesheet" href="../../styles/bio/bio.css" />
        <script src="../../scripts/home/home.js"></script>
    </head>
    <body>
        <div>
            <h1 id="home-title">A B O U T</h1>
        </div>
        <main id="home-container">
            <!-- row 1 -->
            <div class="home-row-1">
                <div>
                    <img 
                        src="../../assets/skills/sql.png" 
                        class="skill-icon"
                    />
                </div>
                
                <div>
                    <img 
                        src="../../assets/skills/javascript.jpg" 
                        class="skill-icon"
                    />
                </div>

                <div>
                    <img 
                        src="../../assets/skills/git.jpg" 
                        class="skill-icon"
                    />
                </div>
            </div>
            <!-- row 2 -->
            <div class="home-row-2">
                <div>
                    <img 
                        src="../../assets/skills/c.png"
                        class="skill-icon"
                    />
                </div>

                <!-- profile -->
                <div>
                    <img 
                        src="../../assets/skills/azure.jpg"
                        class="skill-icon"
                    />
                </div>

                <div>
                    <img
                        src="../../assets/skills/react.png"
                        class="skill-icon"    
                    />
                </div>
            </div>
            <!-- row 3 -->
            <div class="home-row-3">
                <div>
                    <img 
                        src="../../assets/skills/html.jpg"
                        class="skill-icon"
                    />
                </div>

                <div>
                    <img 
                        src="../../assets/skills/css.jpg"
                        class="skill-icon"
                    />
                </div>

                <div>
                    <img 
                        src="../../assets/skills/azure.jpg"
                        class="skill-icon"    
                    />
                </div>
            </div>
            
            <div>
                <iframe src="./info.html"></iframe>
            </div>
        </main>
    </body>
</html>