<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

        <title id="title"></title>
        <link rel="stylesheet" href="../../styles/home/home.css" />
        <script src="../../scripts/home/home.js"></script>
    </head>
    <body>
        <div>
            <h1 id="home-title">H O M E</h1>
        </div>
        <main id="home-container">
            <div id="home-icon-content">
                <div>
                    <img 
                        id="cactus-icon"
                        src="https://thumbs.dreamstime.com/b/watercolor-orange-red-cactus-hand-drawn-white-beautiful-cute-succulents-ideal-sites-brochures-wedding-invitation-card-86657012.jpg"
                    />
                </div>
                <div id="home-content-container">
                    <b><p>H U N T E R | C A R R I C O</p></b>
                    <p>S O F T W A R E - D E V E L O P E R</p>
                    <i><p>P H O E N I X , A Z</p></i>
                    <hr />
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>