<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

        <title id="title"></title>
        <link rel="stylesheet" href="../../styles/home/home.css" />
        <script src="../../scripts/home/home.js"></script>
    </head>
    <body>
        <main class="">
            <div id="home">
                <div>
                    <h1>WELCOME</h1>
                </div>
                <div>
                    <p>HUNTER CARRICO</p>
                </div>
                <div>
                    <p>SOFTWARE DEVELOPER</p>
                </div>
            </div>
        </main>
    </body>
</html>