<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

        <title id="title"></title>
        <link rel="stylesheet" href="../../styles/home/home.css" />
        <script src="../../scripts/home/home.js"></script>
    </head>
    <body>
        <div>
            <h1 id="home-title">H O M E</h1>
        </div>
        <main id="home-container">
            <div id="home-icon-content">
                <div>
                    <img 
                        id="cactus-icon"
                        src="https://thumbs.dreamstime.com/b/watercolor-orange-red-cactus-hand-drawn-white-beautiful-cute-succulents-ideal-sites-brochures-wedding-invitation-card-86657012.jpg"
                    />
                </div>
                <div id="home-content-container">
                    <b><p>H U N T E R - C A R R I C O</p></b>
                    <p>S O F T W A R E - D E V E L O P E R</p>
                    <hr />
                    <div id="home-link-container">
                        <img
                            class="home-logos"
                            src="https://cdn-icons-png.flaticon.com/512/38/38669.png"
                        />
                        <img
                            class="home-logos"
                            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-square-512.png"
                        />
                        <img
                            class="home-logos"
                            src="https://www.shareicon.net/download/2015/09/29/108945_media_512x512.png"
                        />
                    </div>
                </div>
            </div>
            
            
        </main>
    </body>
</html>