<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

        <title id="title"></title>
        <link rel="stylesheet" href="../../styles/footer/footer.css" />
        

    </head>
    <body>
        <main id="footer-container">

            <!-- socials -->
            <div id="social-container">
                <a href="https://www.linkedin.com/in/hunter-carrico/" target="_blank" >
                    <img
                    class="social-logos"
                    src="https://cdn-icons-png.flaticon.com/512/38/38669.png"
                    />
                </a>
                
                <a href="https://github.com/hmcarrico" target="_blank" >
                <img
                    class="social-logos"
                    src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-square-512.png"
                    />
                </a>
                
                <a href="mailto:hunter.software.dev@gmail.com" target="_blank" >
                    <img
                    
                    class="social-logos"
                    src="https://www.shareicon.net/download/2015/09/29/108945_media_512x512.png"
                    />
                </a>
            </div>

            <!-- content -->
            <div class="footer-content">
                <p></p>© 2022 Hunter Carrico</p>
            </div>
        </main>
    </body>
    <!-- <script src="../../scripts/footer/footer.js"></script> -->
</html>