<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

        <title id="title"></title>
        <link rel="stylesheet" href="../../styles/home/home.css" />
        <script src="../../scripts/home/home.js"></script>
    </head>
    <body>
        <div>
            <h1 id="home-title">W E B S I T E S</h1>
        </div>
        <main id="home-container">
            
        </main>
    </body>
</html>